<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>webStudy04_Mybatis</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contentPath</param-name>
    <param-value>d:/contents</param-value>
  </context-param>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>kr.or.ddit.filter.auth.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>kr.or.ddit.filter.auth.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>kr.or.ddit.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FileUploadCheckFilter</filter-name>
    <filter-class>kr.or.ddit.filter.FileUploadCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadCheckFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>kr.or.ddit.mvc.FrontController</servlet-class>
    <init-param>
      <param-name>basePackage</param-name>
      <param-value>kr.or.ddit</param-value>
    </init-param>
    <init-param>
      <param-name>prefix</param-name>
      <param-value>/WEB-INF/views/</param-value>
    </init-param>
    <init-param>
      <param-name>suffix</param-name>
      <param-value>.jsp</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
      <location>d:/temp</location>
      <max-file-size>10240000</max-file-size>
      <max-request-size>50240000</max-request-size>
      <file-size-threshold>10240</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MimeDescriptionServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.MimeDescriptionServlet</servlet-class>
    <init-param>
      <param-name>contentPath</param-name>
      <param-value>d:/contents</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MimeDescriptionServlet</servlet-name>
    <url-pattern>/prod.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DescriptionServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.DescriptionServlet</servlet-class>
    <init-param>
      <param-name>test</param-name>
      <param-value>paramValue</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet07.FileUploadServlet</servlet-class>
    <multipart-config/>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DescriptionServlet</servlet-name>
    <url-pattern>/desc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContentsUIGenerateServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet02.ContentsUIGenerateServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentsUIGenerateServlet</servlet-name>
    <url-pattern>/contents.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectedFileStreamingServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet02.SelectedFileStreamingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedFileStreamingServlet</servlet-name>
    <url-pattern>/fileStream.do</url-pattern>
  </servlet-mapping>
</web-app>