<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>exampleWithTheme</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contentsPath</param-name>
    <param-value>d:/contents</param-value>
  </context-param>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>kr.or.ddit.mvc.FrontController</servlet-class>
    <init-param>
      <param-name>basePackage</param-name>
      <param-value>kr.or.ddit</param-value>
    </init-param>
    <init-param>
      <param-name>prefix</param-name>
      <param-value>/WEB-INF/views/</param-value>
    </init-param>
    <init-param>
      <param-name>suffix</param-name>
      <param-value>.jsp</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MimeDescriptionServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.MimeDescriptionServlet</servlet-class>
    <init-param>
      <param-name>contentPath</param-name>
      <param-value>d:/contents</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MimeDescriptionServlet</servlet-name>
    <url-pattern>/prod.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DescriptionServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.DescriptionServlet</servlet-class>
    <init-param>
      <param-name>test</param-name>
      <param-value>paramValue</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptionServlet</servlet-name>
    <url-pattern>/desc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContentsUIGenerateServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet02.ContentsUIGenerateServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentsUIGenerateServlet</servlet-name>
    <url-pattern>/contents.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectedFileStreamingServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet02.SelectedFileStreamingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedFileStreamingServlet</servlet-name>
    <url-pattern>/fileStream.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>