<html>
	<head>
		<style type='text/css'>
			table{ border-collapse:collapse; }
			td,th{ border : 1px solid pink; }
		</style>
	</head>
	<body>
	<h4>Current Server Time : @now</h4>
		<table>
			@dan
		</table>
	</body>
</html>